
/* withoutsync fusion */
/* .campaign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  background-color: #060417;
}

.inputdiv label{
  margin-left: 0.5rem;
  color: white;
}
.inputdiv{
  display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}
.campaign-section {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 1rem;
}

.campaign-content{
  position: relative;
  align-items: center;
  width: 25rem;
  margin-bottom: 20px;

  border: 1.5px solid #6751b9;

  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(245, 239, 239, 0.1);
}

.inputdiv {
  margin-bottom: 10px;
}

.submitdiv {
  display: flex;
  justify-content: center;
}

.information-content {
  width: 100%;
  max-width: 800px;
  padding-top: 1rem;
}

.grid-header, .grid-row{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 0.7rem;
  padding: 0.7rem;
  border-bottom: 1px solid #ccc;
}
.grid-header{
  color: white;
  font-weight: bolder;
  background-color: #553dbe;
}
.grid-row{
  background-color: whitesmoke;
  font-weight: bolder;
}
.grid-row div{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.grid-row button {
  margin: 0 5px;
}  */


/* using syncfusion */

.campaign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  /* background-color: #060417; */
  padding-top: 4rem;
}
.campaign-container h2{
  color: #6751b9;
  font-size: 4rem;
}
.information-content {
  width: 100%;
  max-width: 800px;
  padding-top: 1rem;
} 