h2{
    color: #6751b9;
    font-size: 3rem;
    text-align: center;
}

.login-container{
    /* width: 100vw; */
    height: 50vw;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    
}

.login-content{
    width: 25rem;
    height: auto;
    background-color: #060417;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 3rem;
    /* border: 3px solid white; */
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0 0px 10px 0 white;

}

 input{
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
    margin-top: 1rem;
    border: 3px solid white;
    border-radius: 1rem;
}
.button-submit{
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    font-size: 0.8rem;  
    font-weight: 600;
    background-color: #7e61e7;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    /* border: 1px solid white; */
    /* border-radius: 1rem; */

}
button:hover{
    background: black;

    color: #a993fe;

}
p{
    margin-top: 1rem;
    color: #6751b9;

}
a{
    color: white;
    text-decoration: none;
}
/* a:hover{
    color: #6751b9;
} */

/* 
.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    flex: 1;
  }
  
  .toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
  }
   */