@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-navigations/styles/material.css";

.custom-btn{
  color: white;
  font-size: 1.5rem;
  background-color:   #6751b9;
  /* margin-bottom: 1rem; */
  margin-left: 0.5rem;
  /* padding: 0 10px; */
}
.header{
  position: fixed;
  text-align: center;
  color: white;
  background-color: #6751b9;
  line-height: 3rem;
  font-size: 1.5rem;
}
/* .main-content{
  font-size: 1.2rem;
  text-align: center;
  padding-top:3rem;
  padding-left: 2rem;
} */

.sidebar-content{
/* 
  text-align: center;
  padding-top: 3rem; */

}

.sidebar-content ul li{
  font-size: 1rem;
  font-weight: 800;
  color: #6751b9;
  border: 1px solid #6751b9;
  padding-top: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.e-sidebar{
  background-color: white;
}
.e-sidebar.e-left{
  top: 8%;
}
.conatiner{
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}

@media (max-width:1500px){
  .container{
    padding: 0 1.5rem;
  }
}


